<div class="widget-summary">
  <div class="content-container">
    <perfect-scrollbar class="scroll-container" [config]="scrollConfig" [scrollIndicators]="true">
      <div class="scrollable-content" *ngIf="selectedDay">
        <app-widget-summary-group></app-widget-summary-group>
        <app-widget-summary-group></app-widget-summary-group>
        <app-widget-summary-group></app-widget-summary-group>
        <app-widget-summary-group></app-widget-summary-group>
        <app-widget-summary-group></app-widget-summary-group>
        <app-widget-summary-group></app-widget-summary-group>
      </div>
    </perfect-scrollbar>
  </div>
</div>
