<div class="widget-summary">
  <div class="content-container">
    <perfect-scrollbar class="scroll-container" [config]="scrollConfig" [scrollIndicators]="true">
      <div class="scrollable-content">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus finibus mi eu velit varius bibendum non eu
          arcu.
          Pellentesque elementum vehicula dui nec ultrices. Sed in augue at nibh imperdiet cursus id non nibh.
          Pellentesque
          lobortis vitae neque sit amet accumsan. Fusce quis tortor et est ornare sodales sed a orci. Nam volutpat velit
          a
          dapibus feugiat. Donec a mattis quam. Maecenas nunc turpis, rutrum quis convallis eget, cursus ut nibh.</p>
        <p>Donec eros ex, elementum ut risus vel, venenatis cursus turpis. Integer sagittis convallis rutrum. Vivamus mi
          enim,
          pharetra eget ullamcorper vel, lacinia ut sem. Vestibulum nibh odio, semper pulvinar dictum vitae, consequat
          nec
          eros. In semper, sapien eu commodo gravida, mauris nulla cursus lectus, id dapibus diam diam quis libero.
          Fusce
          eu
          ipsum urna. Fusce nec urna ac enim vulputate gravida. Nunc porttitor efficitur nibh sit amet vulputate.
          Aliquam
          pulvinar risus at diam faucibus mollis. Duis placerat lacus sit amet lacinia scelerisque. Phasellus elementum
          accumsan sapien non convallis. Suspendisse porta id mauris et scelerisque. Phasellus feugiat ut urna ac
          sodales.</p>
        <p>Etiam elit ex, egestas vel tristique vel, imperdiet porta purus. Curabitur semper velit ut metus euismod
          rutrum.
          Mauris metus lectus, finibus id pulvinar vitae, suscipit convallis sapien. Suspendisse potenti. Quisque
          posuere
          sapien ut nisl interdum, nec gravida orci dictum. Praesent sagittis dapibus nisl quis molestie. Nulla
          pellentesque
          faucibus lectus, vel pellentesque orci egestas eu. Curabitur molestie libero vitae cursus placerat. Nulla vel
          commodo lorem. Cras porttitor massa ac mauris elementum vestibulum. Phasellus porttitor et turpis facilisis
          egestas.
          Suspendisse consequat, velit lacinia accumsan blandit, quam quam molestie ipsum, condimentum cursus risus
          velit
          in
          felis. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nullam eleifend elementum aliquam. Duis
          massa
          nulla, feugiat in imperdiet in, vulputate quis leo.</p>
        <p>Integer ut diam ultricies, porta nunc sit amet, sodales massa. Nullam vitae magna sed nulla hendrerit
          commodo.
          Phasellus molestie sollicitudin orci sit amet mollis. Fusce sit amet lacinia tellus. Nullam rhoncus, diam eu
          dictum
          pulvinar, risus sem porttitor ex, cursus gravida nunc elit aliquam urna. Duis sed dui massa. Vivamus malesuada
          facilisis ex sed ultrices. Phasellus hendrerit in nibh in aliquam. Sed ut sapien at diam accumsan luctus at
          vel
          metus. Curabitur nec auctor nibh. Sed et interdum purus, quis venenatis elit. Integer ultrices dui eget
          feugiat
          viverra. Curabitur ligula orci, condimentum ut leo id, viverra imperdiet elit. Duis molestie diam magna, eget
          ultricies leo euismod non. Nam ultrices vulputate euismod.</p>
        <p>Proin urna dui, posuere vel convallis ut, dignissim eu risus. Nullam eu ipsum congue, faucibus quam nec,
          aliquam
          nibh. Pellentesque nec quam vel lectus mollis porttitor ut a neque. Aliquam congue euismod elit, bibendum
          hendrerit
          nulla suscipit ac. Maecenas at purus libero. Vivamus lacus orci, congue pretium libero sed, feugiat lacinia
          augue.
          Suspendisse ullamcorper luctus ipsum a ultricies. Duis feugiat urna neque, vel luctus quam dignissim sed.
          Donec
          quis
          mauris eu mauris maximus convallis. Praesent bibendum lectus id venenatis fringilla. Donec vel nisi in eros
          ultricies varius. Cras est quam, bibendum ac viverra eu, sollicitudin sed diam. Donec dignissim neque et justo
          blandit euismod.</p>
      </div>
    </perfect-scrollbar>
  </div>
</div>
