@import "../../variables";
@import '~perfect-scrollbar/css/perfect-scrollbar.css';

:host {
  flex-grow: 1;
}

.widget-summary {
  padding: 0 5px 0 $app-padding-md;

  .content-container {
    position: relative;
    overflow: auto;
    height: 455px;
    min-height: 0;
  }

  .scroll-container {
    position: relative;
  }

  .scrollable-content {
    padding-right: 15px;
  }
}
