@import "../../variables";

.widget-day-button {
  font-size: $app-font-size-sm;
  text-align: center;
  position: relative;
  padding: 5px 10px;
  border-radius: $app-border-radius;
  cursor: pointer;

  &:hover, &:active {
    background: $app-color-light-gray;
  }

  &.weekend {
    color: $app-color-gray;
  }

  .day-no {
    font-size: $app-font-size-md;
    line-height: $app-font-size-md;
    font-weight: bold;
    padding: 5px;
    border: solid 1px transparent;
  }

  &.current .day-no {
    border-radius: $app-border-radius;
    border-color: $app-color-orange;
  }

  &.active .day-no {
    border-radius: $app-border-radius;
    background: $app-color-orange;
    border-color: $app-color-orange;
  }

  .indicator {
    &:before {
      content: '';
      background: transparent;
      width: 5px;
      height: 5px;
      display: inline-block;
      border-radius: $app-border-radius;
    }
  }

  &.has-other-tasks {
    .indicator {
      &:before {
        background-color: $app-color-gray;
      }
    }
  }

  &.all-approved {
    .indicator {
      &:before {
        background-color: $app-color-green;
      }
    }
  }

  &.has-rejected {
    .indicator {
      &:before {
        background-color: $app-color-red;
      }
    }
  }
}
