<div class="widget-summary-group">
  <div class="header">
    <div class="icon">
      <mat-icon>{{ icon }}</mat-icon>
    </div>
    <div class="title">
      {{ title }}
    </div>
    <div class="hours" *ngIf="hours">
      ({{ hours}})
    </div>
  </div>
  <div class="items">
    <table>
      <thead>
      <tr>
        <th>Type</th>
        <th *ngIf="hasQuantity">Quantity</th>
        <th>{{ units }}</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let event of events">
        <td>{{ event.eventTypeName }}</td>
        <td *ngIf="hasQuantity">{{ event.quantity }}</td>
        <td>
          <span *ngIf="event.isExpenseType">{{ getExpenseTotal(event) }}</span>
          <span *ngIf="event.isHoursEventType || event.isAdditionalHoursEventType">{{ getEventTimeSpent(event) }}</span>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
