@import "../../variables";

.widget-header {
  display: flex;
  padding: $app-padding;

  .date {
    flex-grow: 1;
    font-size: $app-font-size-lg;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .mat-icon-button {
    width: 24px;
    height: 24px;
    line-height: 24px;
  }
}
