<div class="widget-header">
  <div class="info">
    <div class="date">
      <div>September 2018</div>
    </div>
    <div>
      <button mat-icon-button>
        <mat-icon>calendar_today</mat-icon>
      </button>
    </div>
  </div>
  <app-widget-day-bar></app-widget-day-bar>
  <mat-divider></mat-divider>
  <div class="bottom">
    <div class="date">
      <div>Tuesday 27.05.2018</div>
    </div>
    <div>
      <button mat-button color="primary">GO TO TIMESHEET</button>
    </div>
  </div>
</div>
