$app-font-size-sm: 12px;
$app-font-size-md: 14px;
$app-font-size-lg: 16px;

$app-color-orange: #F08900;
$app-color-light-gray: #F3F3F4;
$app-color-gray: #A1A1A1;
$app-color-green: #5ecf79;

$app-border-radius: 4px;

$app-padding-sm: 8px;
$app-padding: 16px;

$app-width: 550px;
$app-height: 870px;
